body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    margin:0;
    
}
.hr {
    display: block;
    height: 1px;
    width: 100%;
    margin: 40px 0;
    
    border:0;
    background-color: #e5e5e5;
}
* 
*:before,
:after {
    box-sizing: border-box;

}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
/* Container*/
.container {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
/*Intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../images/intro.jpg) center
    no-repeat ;
    -webkit-background-size:cover;
    background-size: cover;
    
}
.intro_title {
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
 
    line-height: 1;
}
.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
   margin: 60px auto ;
    
    

    
}
.intro_suptitle {
    font-size: 30px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
  
    margin-bottom: 20px;
    
}
.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    
}
/* Header*/
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}
/*Nav   #FF69B4*/
.nav {
    text-transform: uppercase;
    font-size: 14px;
    
}
.navv_link {
    margin: 15px;
    color: #fff;
    transition: color .1s  linear;
}
.navv_link:hover {
    color: #FF69B4;
    
}
.nav_link {
    color: #fff;
    text-decoration: none;
    transition: color .2s  linear;
    vertical-align: top;
    display: inline-block;
    margin:0 15px;
    position: relative;
}
.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FF69B4;   
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
    
    
}
.nav_link:hover {
    color:#FF69B4;
}
.nav_link:hover:after {
    opacity: 1;
    
    
    
}
/*button*/

.btn {
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 8px 30px ;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background .1s linear ,color .1s linear;
    
}
.btn:hover {
    color: #333;
    background-color: #FF69B4;
}
/*Arrow */

}
a {
  color: #fff;
  text-decoration: none;
}
.arrow {
  text-align: center;
  margin-top: 45px;
    color: #fff
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
    color: #fff
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
/*Section*/
.section {
    padding: 80px 0;
 
    
}
.section_header {

    width: 100%;

    max-width: 950px;
    margin:0 auto 50px;
    text-align: center;
    
    
    
}
.section_suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color:#333;
    
}
.section_title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    
}
.section_title:after{
    
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color:#FF69B4;
   
    margin: 30px auto;
    
    
}

.section_text {
    color: #999;
    font-size: 15px;
    
}
/*about*/
.about {
    display: flex;
    justify-content: space-between;
    
}
.about_item {
    width: 380px;
    height: 250px;
    position: relative;
    background: #333;
    

    
}
.about_item:hover .about_img {
    transform: translate3d(-10px,-10px,0);
}
.about_item:hover .about_img img{
        opacity: .2;
    
}
.about_item:hover .about_text {
    opacity: 1
} 
.about_img {
    background: linear-gradient(to bottom,#00BFFF,#FF69B4);
     transition: transform .2s linear;
}
.about_img img {
    display: block;
    transition: opacity .1s linear;
}
.about_text {
    width: 100%;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 0;
    transform: translate3d(0,-50%,0);
    opacity: 0;
    transition: opacity .1s linear;
   font-family: 'Suez One', serif;
}
#About {
    transition:transform .2s linear;
}
/*Services*/

.services {
    display: flex;
    
    
}
.services_item {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
    
}
.services_icon {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 1;
    
}
.services_title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}
.services_text {
    font-size: 15px;
    color: #999;
    
}